.navbar-header {
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sidebar-icon {
  display: none;
}
.sidebar-cancelbtn {
  display: none;
}
.navlink-container li {
  display: inline-block;
  padding-right: 1.5rem;
  font-size: 18px;
  font-weight: 600;
}
.navlink-container li a {
  text-decoration: none;
  color: var(--font-color);
}
.navlink-container li a:hover,
a:focus,
a:visited {
  color: crimson;
}
@media (max-width: 900px) {
  /* make sidebar hidden */
  .navlink-container {
    position: absolute;
    top: 0%;
    bottom: 0;
    transform: translateX(-1000px);
  }
  /* make siderbar visible */
  .active-sidebar {
    width: 100vw;
    height: 100vh;
    transform: translateX(0px);
    display: flex;
    flex-direction: column;
    background-color: black;
    transition: all 1s ease-out;
  }
  .sidebar-icon {
    display: block;
  }
  .sidebar-cancelbtn {
    display: block;
    align-self: flex-end;
    padding: 2rem;
  }
  .logo img {
    max-width: 100%;
  }

  .navlink-container ul {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .navlink-container li {
    display: block;
  }
}

@media (max-width: 400px) {
  .navbar-header {
    display: flex;
    gap: 1rem;
  }
}
