.footer {
  background-color: var(--dark-layer-color);
  padding: 2rem;
  text-align: center;
  border-top: 0.0714rem solid var(--border-color-light);
}
.footer p {
  color: var(--white-color);
  text-align: center;
}
.footer p a {
  color: var(--primary-color);
  text-decoration: none;
}
.scroll_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 15;
  cursor: pointer;
  width: 2.8571rem;
  height: 2.8751rem;
  line-height: 3.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
