/* About us */

#about {
  border: 1px solid blue;
  padding: 3rem 0 6rem;
  background-color: var(--primary-bg);
}

@media (max-width: 992px) {
  #about {
    padding: 3rem 0;
  }
}

.title_heading {
  border: 1px solid white;
  text-align: center;
  max-width: 50rem;
  margin: auto;
}
.title_heading h3 {
  font-size: 2.5rem;
  line-height: 3.214rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 0;
}
.title_heading p {
  font-size: 1.214rem;
  line-height: 2rem;
  color: var(--font-color);
}

@media (max-width: 767px) {
  .title_heading h3 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
.about_box_wrapper {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .about_box_wrapper {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .about_box_wrapper {
    flex-direction: column;
  }
}
.about_box {
  border: 1px solid blue;
  width: calc(100% / 3 - 1rem);
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}
.about_icon {
  width: 5.7143rem;
  height: 5.7143rem;
  margin: auto;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about_content h5 {
  font-weight: 700;
  color: var(--white-color);
  font-size: 1.7143rem;
  line-height: 2.4286rem;
  margin: 1.67rem 0;
}
.about_content p {
  color: var(--font-color);
  font-size: 1.2143rem;
  line-height: 2rem;
}
@media (max-width: 992px) {
  .about_box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .about_box {
    width: 100%;
  }
}
