/* About us */

#about {
  border: 1px solid blue;
  padding: 3rem 0 6rem;
  background: url("/home/minmini/Documents/Business-Website/business-website/src/assets/about/layer.png")
    no-repeat center center;
  background-size: cover;
}

@media (max-width: 992px) {
  #about {
    padding: 3rem 0;
  }
}

.title_heading {
  border: 1px solid white;
  text-align: center;
  max-width: 50rem;
  margin: auto;
}
.title_heading h3 {
  font-size: 2.5rem;
  line-height: 3.214rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 0;
}
.title_heading p {
  font-size: 1.214rem;
  line-height: 2rem;
  color: var(--font-color);
}

@media (max-width: 767px) {
  .title_heading h3 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
.about_box_wrapper {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  .about_box_wrapper {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .about_box_wrapper {
    flex-direction: column;
  }
}
.about_box {
  border: 1px solid blue;
  width: calc(100% / 3 - 1rem);
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
}
.about_icon {
  width: 5.7143rem;
  height: 5.7143rem;
  margin: auto;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about_content h5 {
  font-weight: 700;
  color: var(--white-color);
  font-size: 1.7143rem;
  line-height: 2.4286rem;
  margin: 1.67rem 0;
}
.about_content p {
  color: var(--font-color);
  font-size: 1.2143rem;
  line-height: 2rem;
}
@media (max-width: 992px) {
  .about_box {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .about_box {
    width: 100%;
  }
}

.about_box_details {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .about_box_details {
    flex-direction: column;
  }
}
.about_col {
  width: calc(100% / 2 - 1rem);
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}
.more_space {
  padding-left: 10rem;
}
@media (max-width: 1024px) {
  .about_col {
    width: 100%;
  }
  .more_space {
    padding-left: 1rem;
  }
}

.about_image::after {
  overflow: hidden;
  content: url("/home/minmini/Documents/Business-Website/business-website/src/assets/about/layer_1.png");
  z-index: 1;
  position: absolute;
  top: -70px;
  right: -70px;
  max-width: 100%;
}
.about_image img {
  position: relative;
  border-radius: 2.1429rem;
  z-index: 2;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .about_image::after {
    right: 0;
  }
}
.img_info_box {
  background-color: var(--bg-color);
  color: var(--white-color);
  position: absolute;
  right: -60px;
  bottom: -100px;
  z-index: 3;
  padding: 2.5rem 2.875rem 2.7143rem;
  box-shadow: var(--box-shadow);
  border-radius: 2.1429rem;
}
@media (max-width: 1024px) {
  .img_info_box {
    position: static;
  }
}
.img_info_box h6 {
  font-size: 1.4286rem;
  line-height: 2.1429rem;
  font-weight: 700;
  margin-top: 0%;
  margin-bottom: 0.7143rem;
}
.img_info_box p {
  font-size: 1rem;
  margin: 0;
}
.img_info_box a {
  font-size: 1.5714rem;
  font-weight: 600;
  line-height: 2.2857rem;
  margin-top: 1.4286rem;
  display: block;
  color: var(--font-color);
}
.img_info_box span {
  margin-left: 0.7143rem;
}
.more_space p {
  font-size: 1.2143rem;
  line-height: 2rem;
  color: var(--font-color);
  font-weight: 500;
  margin-bottom: 3rem;
}
.grid_info {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  grid-gap: 1.4286rem;
  margin-bottom: 3rem;
}
.grid_details h4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--white-color);
  margin: 0;
}
.grid_details p {
  margin: 0;
  font-size: 1rem;
}
